.bodyColecciones {
    background-image: url(../Multimedia/galback.jpg);    
    background-size: cover;
}

.coleccionesContenedor {
    display: grid;
    grid-template-areas: "header header" "tituloC tituloC" "invierno verano" "footer footer";
    background-color: map-get($colores, $key: contenedoresBG);
    border: solid black;
    margin: 75px;

    img {
        @include tamano (70%, 750px);
        border: map-get($colores, imgBorders);
        border-width: 8px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    p {
        margin: 50px;
    }
}

.colecciones__title {
    border: solid black;
    background-color: map-get($colores, contenedoresBG);
    display: flex;
    justify-content: center;
    margin: 50px;
    padding: 25px;
    font-size: 3rem;
    
    grid-area: tituloC;
}

.colecciones__invierno {
 
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: 50px;
    margin-top: 0;
    font-size: 2rem;
    justify-content: space-around;
    align-items: center;    
    grid-area: invierno;
}

.colecciones__verano {
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: 50px;
    margin-top: 0;
    font-size: 2rem;
    justify-content: space-around;
    align-items: center;
    grid-area: verano;    
}  

