.bodyContacto {
    background-image: url(../Multimedia/indexMainBG.jpg);    
    background-size: cover;
}

.contacto {
    display: grid;
    grid-template-areas: "header header" "contactoData contactoMaps" "footer footer";
    padding: 100px;
    height: 920px;
    justify-content: space-evenly;
}

.contacto__main {
    @include tamano (700px, 550px);
    background-color: map-get($colores, contenedoresBG);
    border-style: solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    font-size: 2rem;
    line-height: 50px;
    justify-content: space-between;


    grid-area: contactoData;
}

.form-control {
    font-size: 1.5rem;
}

.contacto__maps {
    @include tamano (700px, 550px);
    background-color: map-get($colores, contenedoresBG);
    border-style: solid;
    border-radius: 15px;
    display: flex;
    padding: 25px;
    justify-content: center;

    grid-area: contactoMaps;
}