.encabezado {
    z-index: 2;
    grid-area: header;
}

.navbar {
    background: linear-gradient(rgba(136, 121, 116, 0.804) 40%, rgba(96, 90, 83, 0.771) 100%);
    font-size: 2rem;

    ul {
    margin-left: 500px;
}
        li {
    margin: 0px 50px 0px 50px;
}
}

.navbar-brand {
    border-style: solid;
    font-size: 2rem;
    padding: 2px 5px 2px 5px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    background-color: rgb(234, 223, 223);
    border-style: solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 5px;
    width: 100%;
    position: relative;
    bottom: 0%;
    grid-area: footer;

    p {
        display: flex;
        align-items: center;
    }
}


.footer__redes {
    display: flex;
    align-self: center;
    width: 50px;
    height: 50px;
}
