.bodyFabrics {
    background-image: url(../Multimedia/galback.jpg);    
    background-size: cover;
}

.fabricsContenedor {
    display: grid;
    grid-template-areas: "header" "tituloC" "polarsoft" "microfibra" "voile" "bajada" "footer";


    img {
        @include tamano (200px, auto);
        
    }

}

.fabrics__title {
    border: solid black;
    background-color: map-get($colores, contenedoresBG);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 50px;
    padding: 25px;
    grid-area: tituloC;

    h1 {
        font-size: 3rem;
    }
}

.fabrics__ps {
    display: flex;
    flex-direction: column;
    border: solid black;
    border-radius: 15px;
    background-color: map-get($colores, contenedoresBG);
    padding: 25px;
    margin: 0px 500px 50px 50px;
    font-size: 2rem;
    justify-content: left;
    text-align: left;    
    grid-area: polarsoft;

    p {
        margin-right: 200px;
    }
}

.fabrics__mf {
    display: flex;
    flex-direction: column;
    border: solid black;
    border-radius: 15px;
    background-color: map-get($colores, contenedoresBG);
    padding: 25px;
    margin: 0px 50px 50px 500px;
    padding: 25px;
    font-size: 2rem;
    text-align: right;
    align-items: flex-end;
    grid-area: microfibra;    

    p {
        margin-left: 200px;
    }
}  

.fabrics__voile {
    display: flex;
    flex-direction: column;
    border: solid black;
    border-radius: 15px;
    background-color: map-get($colores, contenedoresBG);
    padding: 25px;
    margin: 0px 500px 50px 50px;
    font-size: 2rem;
    justify-content: left;
    text-align: left;
    grid-area: voile;    

    p {
        margin-right: 200px;
    }
}  

.bajada {
    border: solid black;
    border-radius: 15px;
    background-color: map-get($colores, contenedoresBG);
    padding: 25px;
    margin: 50px 200px 50px 200px;
    font-size: 2rem;
    text-align: center;
    grid-area: bajada;
}