.bodyGaleria {
    background-image: url(../Multimedia/voileback.jpg);    
    background-size: cover;
}

.galeria {
    display: grid;
    grid-template-areas: "header header" "galTitulo galCarrusel" "footer footer";
    background-color:map-get($colores, contenedoresBG);
    border: solid black;
    margin: 75px 200px 100px 200px;
    padding: 50px;
}

.galeria__title {
    @include tamano (300px, 350px);
    display: flex;
    flex-direction: column;
    border: solid black;
    background-color: rgba(186, 174, 155, 0.772);
    margin: 50px;
    text-align: center;
    justify-content: center;
    align-self: center;
    grid-area: galTitulo;

    h1 {
        font-size: 5rem;
        margin-bottom: 75px;
    }
}

.galeria__carrusel {
    width: 350px;


    grid-area: galCarrusel;
}