@media screen and (max-width: 1440px) {
    
    .navbar {
    
        ul {
        margin-left: 180px;
    }

            li {
        margin: 0px 30px 0px 30px;
    }  
    }   
    .indexMain {
        height: 770px;
        line-height: 100px;
        margin-right: 25px;
    }

    .fabricsContenedor {
        margin: 25px;

        img {
            @include tamano (150px, auto);
            margin: 15px 5px 15px 5px;
        }
    }

    .fabrics__ps {
        margin: 0px 250px 25px 25px;

        p {
            margin-right: 200px;
        }
    }

    .fabrics__mf {
        margin: 0px 25px 25px 250px;

        p {
            margin-left: 200px;
        }
    }  

    .fabrics__voile {
        margin: 0px 250px 25px 25px;

        p {
            margin-right: 200px;
        }
    }  

    .galeria {
        margin: 50px 50px 50px 50px;
        height: 550px;

    }

    .galeria__title {
        padding: 50px;
    }

    .galeria__carrusel {
        width: 350px;
    }

    .contacto {
        padding: 100px;
        height: 730px;
    }
    
    .contacto__main {
        width: 400px;
    }
    
    .contacto__maps {
        width: 400px;

        iframe {
            height: 500px;
        }
    }

}

@media screen and (max-width: 768px) {

    .navbar {
        font-size: 1.5rem;

        ul {
            margin-left: 0px;
        }
    
        li {
            margin: 0px;
        }
    }

    .navbar-brand {
        font-size: 1.5rem;
        padding: 1.5px;
    }

    .indexMain {
        height: 825px;
        line-height: 100px;
        margin-right: 40px;

        h1 {
            font-size: 11rem;  
            margin-bottom: 30px;  
        }

        h2 {
            color: rgb(0, 0, 0);
            font-size: 3rem;
            margin-bottom: 300px;
        }
    }

    .fabricsContenedor {
        margin: 25px;
    
        img {
            @include tamano (100px, auto);
            margin: 15px 5px 15px 5px;
        }
    }

    .fabrics__title {
        margin: 25px;
    }

    .fabrics__ps {
        margin: 0px 100px 25px 25px;

        p {
            margin-right: 100px;
        }
    }

    .fabrics__mf {
        margin: 0px 25px 25px 100px;

        p {
            margin-left: 100px;
        }
    }  

    .fabrics__voile {
        margin: 0px 100px 25px 25px;

        p {
            margin-right: 100px;
        }
    }  

    .bajada {
        margin: 50px 100px 50px 100px;
    }
    
    .galeria {
        display: grid;
        grid-template-areas: "header" "galTitulo" "galCarrusel" "footer";
        margin: 50px 100px 50px 100px;
        height: 1000px;
        padding-top: 0px;
    }
    
    .galeria__title {
        margin-top: 0px;
        padding: 50px;
        height: 150px;
        grid-area: galTitulo;

        h1 {
            font-size: 3rem;
            margin-bottom: 5px;
        }
    }
    
    .galeria__carrusel {
        width: 350px;
        grid-area: galCarrusel;
    }

    .nosotros {
        margin: 25px;
        padding: 25px;
    }

    .nosotros__title {
        margin: 10px;
        font-size: 2rem;
    }

    .nosotros__cont {
        font-size: 2rem;

        img {
            width: 35%;
            border-width: 4px;
            margin-top: 50px;
            margin-bottom: 25px;
        }
    }

    .contacto {
        display: grid;
        grid-template-areas: "header" "contactoData" "contactoMaps" "footer";
        padding: 30px;
        height: 1200px;
        justify-content: space-evenly;
        align-self: center;
    }
    
    .contacto__main {
        width: 700px;
        height: 550px;
        padding: 25px;
        font-size: 2rem;
        line-height: 50px;
    
        grid-area: contactoData;
    }
    
    .contacto__maps {
        width: 700px;
        height: 550px;
        padding: 25px;
        margin-top: 25px;
    
        grid-area: contactoMaps;

        iframe {
            height: 500px;
        }
    }
}

@media screen and (max-width: 500px) {

    .footer {
        font-size: 1rem;
        padding: 5px;
    }
    
    .footer__redes { 
        width: 20px;
        height: 20px;
    }

    .indexMain {
        height: 700px;
        line-height: 60px;
        margin-right: 20px;

        h1 {
            font-size: 4rem;    
            margin-bottom: 30px;
        }
        
        h2 {
            font-size: 2rem;
           
        }
    }

    .fabricsContenedor {
        margin: 15px;
    
        img {
            @include tamano (75px, auto);
            margin: 20px 5px 20px 5px;
        }
    
    }
    
    .fabrics__title {
        font-size: 2rem;
        margin: 15px;
        padding: 20px;
    }
    
    .fabrics__ps {
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: 15px;
        font-size: 1.5rem;
    
        p {
            margin-right: 25px;
        }
    }
    
    .fabrics__mf {
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: 15px;
        font-size: 1.5rem;  
    
        p {
            margin-left: 25px;
        }
    }  
    
    .fabrics__voile {
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: 25px;
        font-size: 1.5rem;
  
    
        p {
            margin-right: 25px;
        }
    }  
    
    .bajada {
        font-size: 1.5rem;
        margin: 25px 50px 25px 50px;
    }

    .galeria {
        margin: 25px 10px 25px 10px;
        height: 700px;
        
    }
    
    .galeria__title {
        width: 250px;
        margin: 25px;
        padding: 10px;

        h1 {
            font-size: 2rem;
            margin-bottom: 10px;
        }
    }
    
    .galeria__carrusel {
        margin: 25px;
        width: 250px;
    }

    .nosotros {
        margin: 10px;
        padding: 10px;
    }

    .nosotros__title {
        margin: 50px 10px 30px 10px;
        font-size: 1.5rem;
    }

    .nosotros__cont {
        font-size: 1.5rem;
        margin-bottom: 100px;

        img {
            width: 50%;
            border-width: 3px;
            margin-top: 30px;
            margin-bottom: 20px;
        }
    
        h2 {
            font-size: 2rem;
        }
    
        p {
            margin: 20px;
            font-size: 1.5rem;
            margin-bottom: 100px;
        }
    }

    .contacto {
        padding: 20px;
        height: 1000px;
    }
    
    .contacto__main {
        width: 300px;   
        height: 450px;
        padding: 15px;
        font-size: 1.5rem;
        line-height: 30px;
    
        grid-area: contactoData;
    }
    
    .contacto__maps {
        width: 300px;
        height: 450px;
        padding: 15px;
        
    
        grid-area: contactoMaps;

        iframe {
            width: 250px;
            height: 375px;
        }
    }
}